@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Changa+One:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@-webkit-keyframes flutuar {
    0% {
        -webkit-transform: translate(-50%, -50%) translateY(0px);
    }
    50% {
        -webkit-transform: translate(-50%, -50%) translateY(-15px);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) translateY(0px);
    }
}
@keyframes flutuar {
    0% {
        -webkit-transform: translate(-50%, -50%) translateY(0px);
    }
    50% {
        -webkit-transform: translate(-50%, -50%) translateY(-15px);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) translateY(0px)
    }
}



body {
    background-image: url(FundoSite.jpeg);
    background-size: cover;
    background-position: center center;

    background-repeat: no-repeat !important ;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#titulo {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#titulo {
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0.9px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

#titulo {
    display: inline-block;
    -webkit-animation: flutuar 3s ease-in-out infinite;
    animation: flutuar 3s ease-in-out infinite;
}

#sobre {
    color: #160091;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15rem;
}

#sobre {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.6;
    margin-bottom: 3rem;
    font-family: "Comic Relief", system-ui;

}


.chamada-button {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 70%;
    text-align: center;
}

.chamada-button {
    display: inline-block;
    width: 25vw;
    min-width: 180px;
    height: 8vh;
    min-height: 45px;
    line-height: 8vh;
}

.chamada-button {
    border-radius: 10vh;
    border: #000000 2px solid;
    background-color: #8fd2ff;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    font-style: normal;
    color: #06005c;
    z-index: 10;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.direitos-autorais {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 82.5%;
    text-align: center;
    color:#4e4e4e;
    white-space: nowrap;
}

.login {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 80%;
    top: 50%;
    display: inline-block;
    width: 7vh;
    min-width: 70px;
    height: 2vw;
    min-height: 20px;
    line-height: 2vh;
    border-radius: .5vw;
    text-align: center;
    z-index: 10;
    border: #000000 1.5px solid;
    background-color: #2E7D32;
    color: #FFFFFF;
    font-style: normal;
    font-size: .9vw;
    font-weight: 100;
    cursor: pointer;
    display: inline-block;
    transition: all 0.2s ease;
}

.caixa {
    background-image: linear-gradient(to bottom right, #8bf072, #466079);
    height: 4.5vw;
    width: 20vw;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 91%;
    top: 3.5%;
    border-radius: .5vw;
    border: #000000 1.5px solid;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-width: .35vw;
}

.perfil {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 60%;
    top: 50%;
    display: inline-block;
    width: 7vh;
    min-width: 70px;
    height: 2vw;
    min-height: 20px;
    line-height: 2vh;
    border-radius: .5vw;
    text-align: center;
    z-index: 10;
    border: #000000 1.5px solid;
    background-color: #D99B00;
    color: 000000;
    font-style: normal;
    font-size: .9vw;
    font-weight: 100;
    cursor: pointer;
    display: inline-block;
    visibility: hidden;
    transition: all 0.2s ease;
}


.link-entrar {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 25%;
    top: 50%;
    text-align: center;
    font-size: .9vw;
    color: #000000;
    transition: all 0.2s ease;

}

.criadores {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 88%;
    text-align: center;
    font-size: .9vw;
    color: #000000;
    font-family: "Comic Relief", system-ui;
}

.btn-criadores {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 95%;
    text-align: center;
    font-size: .2vw;
    border-radius: .5vw;
    border: #000000 1.5px solid;
    background-color: #5cf57d;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    font-style: normal;
    color: #ffffff;
    z-index: 10;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    width: 10vw;
    height: 4vh;
}

.login-tela {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background-image: url(https://img.magnific.com/fotos-premium/textura-e-modelo-de-padrao-sem-costura-multicolorido-design-grafico-ornamental-colorido-multicolorido-ornamentos-de-mosaico-coloridos-ilustracao-vetorial_409989-18494.jpg?semt=ais_hybrid&w=740&q=80);
    background-repeat: no-repeat !important;
    background-size: cover;
    border-radius: 10pt;
    z-index: 999;
    transition: all 0.3s ease-in;
}

.iniciar-cadastro {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 5%;
    left: 50%;
    font-family: "Lilita One", sans-serif;
}

.login-google {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 50%;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 5pt;
    width: 35%;
    height: 7%;
    text-align: left;
    cursor: pointer;
    font-family: "Source Code Pro", monospace;
}

.imagem_google {
    position: fixed;
    transform: translate(-50%, -50%);
    width: 8%;
    height: auto;
    top: 50%;
    left: 90%;
}

.h3_Inserir-email {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    font-family: "Lilita One", sans-serif;
}

.h3_Inserir-senha {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-family: "Lilita One", sans-serif;
}

.verify-senha {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 63%;
    left: 31%;
    color: #ff0000;
    font-family: "Bentham", serif;
    visibility: hidden;
}

.verify-email {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 43%;
    left: 31%;
    color: #ff0000;
    font-family: "Bentham", serif;
    visibility: hidden;
}

.caixa-senha {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    border: 2.5pt solid #000000;
    border-radius: 5pt;
    width: 50%;
    height: 5%;
    background: linear-gradient(to right top, rgba(211, 211, 211, 0.5), #ffffff);
    font-family: "Source Code Pro", monospace;
    padding: right 5pt;
}

.caixa-email {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    border: 2.5pt solid #000000;
    border-radius: 5pt;
    width: 50%;
    height: 5%;
    background: linear-gradient(to right top, rgba(211, 211, 211, 0.5), #ffffff);
    font-family: "Source Code Pro", monospace;
    padding: right 5pt;
}

.btn-Fechar {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 80%;
    width: 15%;
    height: 8%;
    border: 2pt solid #000000;
    border-radius: 5pt;
    cursor: pointer;
    transition: all .5s ease-in-out;
    background-color: #79b5ec;
    font-family: "Xanh Mono", monospace;
    font-size: 15pt;
}

.btn-Fechar:hover {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 8%;
    left: 80%;
    background-color: #5e8db9;
}