body {
    background: linear-gradient(to right, #0004ff, #92ee7b);
}

#Titulo {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#Sobre {
    color: #3eda00;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 0.9px;
    font-family:'Courier New', Courier, monospace;
}

#Sobre {
    position: absolute;
    left: 1000000;
    top: 50%;
}

p {
    color: white;
}